mat-form-field {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  display: none;
}

.image-preview {
  width: 5rem;
  img{
    max-width: 100%;
  }
}
