<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" placeholder="Post title" formControlName="title" maxlength="20">
      <mat-error *ngIf="form.get('title').invalid">Required</mat-error>
    </mat-form-field>
    <div>
      <button mat-raised-button type="button" color="primary" (click)="filePicker.click()">Add image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="2" placeholder="New post" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Required</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="accent">Save Post</button>
  </form>
</mat-card>
